[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
exit = "*"
django = "*"
djangorestframework = "*"
whitenoise = "*"
gunicorn = "*"
django-heroku = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
psycopg2 = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.9"
